---
import { Icon } from 'astro-icon/components';

export interface Props {
  text: string;
  url: string | URL;
  class?: string;
}

const { text, url, class: className = 'inline-block' } = Astro.props;
---

<div class={className}>
  <span class="align-super font-bold text-slate-500 dark:text-slate-400">Share:</span>
  <button
    class="ml-2 rtl:ml-0 rtl:mr-2"
    title="Share via Bluesky"
    data-aw-social-share="bluesky"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:brand-bluesky"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-[#4f9bd9] dark:hover:text-[#4f9bd9] cursor-pointer"
    />
  </button>
  <button
    class="ml-2 rtl:ml-0 rtl:mr-2"
    title="Share via Telegram"
    data-aw-social-share="telegram"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:brand-telegram"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-[#2AABEE] dark:hover:text-[#2AABEE] cursor-pointer"
    />
  </button>
  <button
    class="ml-2 rtl:ml-0 rtl:mr-2"
    title="Share via X (Twitter)"
    data-aw-social-share="twitter"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:brand-x"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-black dark:hover:text-slate-300 cursor-pointer"
    />
  </button>
  <button 
    class="ml-2 rtl:ml-0 rtl:mr-2" 
    title="Share via Facebook" 
    data-aw-social-share="facebook" 
    data-aw-url={url}
    ><Icon
      name="tabler:brand-facebook"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-[#1877F2] dark:hover:text-[#1877F2] cursor-pointer"
    />
  </button>
  <button
    class="ml-2 rtl:ml-0 rtl:mr-2"
    title="Share via Linkedin"
    data-aw-social-share="linkedin"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:brand-linkedin"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-[#0072b1] dark:hover:text-[#0072b1] cursor-pointer"
    />
  </button>
  <button
    class="ml-2 rtl:ml-0 rtl:mr-2"
    title="Share via Email"
    data-aw-social-share="mail"
    data-aw-url={url}
    data-aw-text={text}
    ><Icon
      name="tabler:brand-gmail"
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-[#DB4437] dark:hover:text-[#DB4437] cursor-pointer"
    />
  </button>

  <button
    class="ml-2 rtl:ml-0 rtl:mr-2"
    title="Copy Link"
    data-aw-social-copy="copylink"
    data-aw-url={url}
    ><Icon 
      name="tabler:link" 
      class="w-6 h-6 text-gray-400 dark:text-slate-500 hover:text-[var(--aw-color-accent)] dark:hover:text-[var(--aw-color-accent)] cursor-pointer"
  />
    <div id="toast" class="pointer-events-none absolute p-2 bg-slate-500 text-white rounded-lg opacity-0 -translate-x-[20px] translate-y-[5px] transition-opacity duration-300 transform">
      copied
    </div>
  </button>
</div>